body {
	width: 100%;
	height: 100%;
	direction: rtl;
	overflow: hidden;
}
@font-face {
	font-family: varela;
	src: url("assets/Varela_Round/VarelaRound-Regular.ttf");
}
@font-face {
	font-family: horev;
	src: url("assets/horev/horevclm-heavy-webfont.ttf");
}
* {
	font-family: varela;
	overflow: hidden;
	background-color: rgb(217, 217, 217);
	background-size: 100% 100%;
    margin: 0;
}
#open-screen {
	width: 100vw;
	height: 100vh;
}
#startBut{
	width: 25vw;
	height: 7vh;
	top: 68vh;
	right: 37.5vw;
	background-color: rgb(237, 125, 49);
	border-radius: 1vh;
	box-shadow: 0 20px 20px rgb(0 0 0 / 0.2);
    position: absolute;
    visibility: hidden;
    
}
#textStart{
	font-size:2.4vh;
	text-align: center;
    background-color: rgb(237, 125, 49);
    padding: 2vh;
}
.titlePuma1 {
	width: 70vw;
    top: 20vh;
    right: 15vw;
	text-align: center;
	color: rgb(237, 125, 49);
	font-size: 40vw;
	font-family: horev;
	position: absolute;
	animation: titleAnimation 1s 1 forwards;
}
#scrolBut{
    width: 20vw;

}
@keyframes titleAnimation {
	from {top: 0vh; opacity: 0.1;}
	to {top: 10vh; opacity: 1;}
}
@-webkit-keyframes titleAnimation {
	from {top: 0vh; opacity: 0.1;}
	to {top: 10vh; opacity: 1;}
}
.ExTitlePuma{
    text-align: center;
	color: rgb(237, 125, 49);
    font-size: 29vw;
	font-family: horev;
	position: absolute;
    top:4vh;
    right: 10vw;
    width: 80vw;
}
#scrolBut{
    position: absolute;
    bottom: 10vh;
    right: 40vw;
}
#explantionText{
    visibility: hidden;
    text-align: center;
    top: 16vh;
    right: 13vw;
    font-size:3.3vh;
    width: 75vw;
    height: 70vh;
    position: absolute;
}
span{
    font-weight: bold;
}
.scroll {
    width: 20vw;
    height: 7vh !important;
    background-color: blueviolet;
    position: absolute;
    bottom: 1vh;
    left: 2vw;
    overflow-y: scroll;
    font-size: 5vw;
}
/* width */
::-webkit-scrollbar {
    width: 3vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1vw rgb(218, 23, 169); 
    border-radius: 2vw;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 2vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }