body {
    width: 100%;
    height: 100%;
    direction: rtl;
    overflow: hidden;
}

@font-face {
    font-family: varela;
    src: url("assets/Varela_Round/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: horev;
    src: url("assets/horev/horevclm-heavy-webfont.ttf");
}

* {
    font-family: varela;
    overflow: hidden;
    background-color: rgb(217, 217, 217);
    background-size: 100% 100%;
    margin: 0;
}

.horev{
    font-family: horev;
}
#open-screen {
    width: 100vw;
    height: 100vh;
}

#startBut {
    width: 25vw;
    height: 7vh;
    top: 68vh;
    right: 37.5vw;
    background-color: rgb(237, 125, 49);
    border-radius: 1vh;
    box-shadow: 0 20px 20px rgb(0 0 0 / 0.2);
    position: absolute;
    visibility: hidden;

}

#textStart {
    font-size: 2.4vh;
    text-align: center;
    background-color: rgb(237, 125, 49);
    padding: 2vh;
}

.titlePuma1 {
    width: 70vw;
    top: 20vh;
    right: 15vw;
    text-align: center;
    color: rgb(237, 125, 49);
    font-size: 40vw;
    font-family: horev;
    position: absolute;
    animation: titleAnimation 1s 1 forwards;
}

#scrolBut {
    width: 20vw;

}

@keyframes titleAnimation {
    from {
        top: 0vh;
        opacity: 0.1;
    }

    to {
        top: 10vh;
        opacity: 1;
    }
}

@-webkit-keyframes titleAnimation {
    from {
        top: 0vh;
        opacity: 0.1;
    }

    to {
        top: 10vh;
        opacity: 1;
    }
}

.ExTitlePuma {
    text-align: center;
    color: rgb(237, 125, 49);
    font-size: 29vw;
    font-family: horev;
    position: absolute;
    top: 4vh;
    right: 10vw;
    width: 80vw;
}

#scrolBut {
    position: absolute;
    bottom: 10vh;
    right: 40vw;
}

#explantionText {
    visibility: hidden;
    text-align: center;
    top: 16vh;
    right: 13vw;
    font-size: 3.3vh;
    width: 75vw;
    height: 70vh;
    position: absolute;
}

span {
    font-weight: bold;
}

#treatmentpage {
    visibility: hidden;
}

.scroll {
    width: 70vw;
    height: 60vh !important;
    position: absolute;
    top: 17vh;
    left: 20vw;
    overflow-y: scroll;
    font-size: 5vw;
}

.orangeLine {
    height: 100%;
    top: 0;
    width: 5vw;
    background-color: rgb(237, 125, 49);
    position: absolute;
}

#itemList {
    width: 70vw;
    height: 100%;
    right: 8vw;
    position: absolute;
    overflow: scroll !important;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}


.container {
    display: block;
    position: relative;
    /* padding-left: 35px; */
    margin-bottom: 1vh;
    cursor: pointer;
    font-size: 2vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    font-size: 5vh;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 2vh;
    width: 5vw;
    border: 0.1vh;
    border-style: solid;
    border-color: rgb(182, 96, 39);
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    border: 0.1vh;
    border-style: solid;
    border-color: rgb(182, 96, 39);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    border: 0.1vh;
    border-style: solid;
    border-color: rgb(182, 96, 39);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 1.9vw;
    top: 0.5vh;
    width: 1vw;
    height: 1vh;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.containerText {
    position: relative;
    right: 7vw;
    /* top: 1vh; */
    /* bottom: 1vh; */
}

#treatmentpageExTitle{
    text-align: center;
    color: rgb(237, 125, 49);
    font-size: 10vw;
    visibility: hidden;
    position: absolute;
    top: 15vh;
    right: 23vw;
   width: 50vw;
}
#treatmentpageEx{
    text-align: center;
    font-size: 7vw;
    visibility: hidden;
    position: absolute;
    top: 23vh;
    right: 10vw;
    width: 80vw;
}